<!DOCTYPE html>
<html>
<head>
	<title>HackPad</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat"> -->
</head>
<body>
<div class="wrapper">
	<div id="header">
		HackPad Clone
	</div>
	<div class="main">
		<h3>Enter name for your hackpad</h3>
		<input type="text" id="textbox-name" placeholder="Enter hackpad name..."/>
		<div id="start">Start Editing</div>
	</div>
</div>
</body>
</html>
<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>
var bttn = document.getElementById("start");

var redir = function() {
	if(document.getElementById("textbox-name").value != '' || document.getElementById("textbox-name").value != false)
		window.location = document.getElementById("textbox-name").value.replace(/ /g, '-');
	else
		alert('Please enter a proper name for your hacktab');
}

bttn.onclick = redir;
</script>